{% include top.html %}

<body>
    <div class="site-header">
        
        {% include nav.html %}
        
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $(window).load(function(){ 
            $("pre").addClass("prettyprint"); 
            prettyPrint(); 
        })
    </script>
</body>

</html>